/* scrollbar */
figure.shiki div.codeblock::-webkit-scrollbar-thumb {
  background: var(--hlscrollbar-bg);
  border-radius: 2.5px;
}
figure.shiki div.codeblock::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* code block figure */
figure.shiki .shiki-tools.closed ~ * {
  display: none;
}
figure.shiki div.codeblock {
  margin: 0;
}
figure.shiki {
  margin: 0 0 24px;
  border-radius: 0px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
  overflow: auto;
  padding: 0;
  background: var(--hl-bg);
  color: var(--hl-color);
  line-height: 1.6;
}

.shiki-tools {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 左右对齐 */
  padding-left: 2px;
  padding-right: 2px;
  overflow: hidden;
  min-height: 24px;
  height: 0.9em;
  background: var(--hltools-bg);
  color: var(--hltools-color);
  font-size: 0.9em;
  user-select: none;
}

/* 左对齐部分 */
.shiki-tools .left {
  display: flex;
  align-items: center;
  gap: 5px; /* 左对齐元素之间的间隔 */
  flex-shrink: 0; /* 禁止缩小 */
}

/* 居中部分 */
.shiki-tools .center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1; /* 占据剩余空间 */
  overflow: hidden; /* 防止内容溢出 */
  min-width: 0; /* 允许内容缩小 */
}

/* 右对齐部分 */
.shiki-tools .right {
  display: flex;
  align-items: center;
  gap: 10px; /* 右对齐元素之间的间隔 */
  flex-shrink: 0; /* 禁止缩小 */
}

.shiki-tools .copy-button,
.shiki-tools .raw-button,
.shiki-tools .fullpage-button,
.shiki-tools .fa-list-ol,
.shiki-tools .fa-arrow-down-wide-short,
.shiki-tools .expand {
  cursor: pointer;
  transition:
    color 0.3s,
    transform 0.3s ease;
}

/* 单独给 expand 按钮设置大一点 */
.shiki-tools .expand {
  cursor: pointer;
  font-size: 1.2em;
  /* 因为 expand变大了，所以需要把左边界收一点 */
  margin-left: -2px;
  transition:
    color 0.3s,
    transform 0.3s ease;
}
.shiki-tools .expand.closed {
  transform: rotate(90deg); /* 初始旋转 */
}
.shiki-tools .expand.closed:hover {
  transform: rotate(90deg) scale(1.2); /* hover 时旋转 + 放大 */
}

/* hover 效果 */
.shiki-tools .copy-button:hover,
.shiki-tools .raw-button:hover,
.shiki-tools .fullpage-button:hover,
.shiki-tools .fa-list-ol:hover,
.shiki-tools .fa-arrow-down-wide-short:hover,
.shiki-tools .expand:hover {
  color: #49b1f5;
  transform: scale(1.2);
}

.shiki-tools .copy-notice {
  color: #49b1f5;
  z-index: 1000;
  opacity: 0;
  position: absolute; /* 使用绝对定位 */
  white-space: nowrap; /* 防止换行 */
  transition: opacity 0.2s ease; /* 过渡效果 */
  transform: translateX(-110%);
  padding-left: 5px;
  padding-right: 0px;
  background: var(--hltools-bg); /* 背景色与工具栏一致 */
}

.shiki-tools .copy-notice[style*="opacity: 1"] {
  opacity: 1;
  visibility: visible; /* 显示时设置为可见 */
}

/* 标题样式 */
.shiki-tools .code-title {
  font-size: 0.9em;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--hltools-color);
  user-select: text; /* 允许用户选择文本 */
  white-space: nowrap; /* 防止换行 */
  overflow: hidden; /* 超出部分隐藏 */
  text-overflow: ellipsis; /* 超出部分显示省略号 */
  flex-shrink: 1; /* 允许标题缩小 */
}

/* 语言标签样式 */
.shiki-tools .code-lang {
  padding-left: 5px;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.4s ease,
    visibility 0.4s ease;
  font-weight: 500;
  font-size: 0.9em;
  user-select: none;
}

figure.shiki:hover .shiki-tools .code-lang {
  visibility: visible;
  opacity: 1;
}

/* bottom toolbar */
.code-expand-btn {
  position: absolute;
  display: flex;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  background: var(--hlexpand-bg);
  justify-content: center;
  align-items: center;
  font-size: 1em;

  cursor: pointer;
}

@keyframes code-expand-key {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.6;
  }
}

.code-expand-btn i {
  padding: 6px 0;
  color: var(--hlnumber-color);
  animation: code-expand-key 1.2s infinite;
}

.code-expand-btn.expand-done > i {
  transform: rotate(180deg);
}

/* codeblock */
figure.shiki div.codeblock {
  display: block;
  overflow: auto;
  border: none;
  display: flex;
}

figure.shiki div.codeblock div {
  padding: 0;
  border: none;
}

figure.shiki .gutter pre {
  border-right: 1px solid var(--hlnumber-color) !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  padding-right: 8px !important;
  padding-left: 8px !important;
  margin-right: 8px !important;
  background-color: var(--hlnumber-bg) !important;
  color: var(--hlnumber-color) !important;
  text-align: right !important;
  user-select: none !important;
}

figure.shiki pre {
  margin: 0 !important;
  padding: 0px 0 !important;

  border: none !important;
}

figure.shiki pre code {
  background: none !important;
}

figure.shiki .codeblock pre * {
  font-size: 1em;
  font-family: Consolas, "Fira Code", "Fira Mono", Menlo, "DejaVu Sans Mono",
    monospace, 宋体;
  overflow: auto !important;
  line-height: 1.6;
}

figure.shiki .code pre {
  padding-right: 0px !important;
  padding-left: 0px !important;
  width: 100% !important;
  background: none !important;
}

.code-expand-btn:not(.expand-done) ~ pre,
.code-expand-btn:not(.expand-done) ~ *pre {
  overflow: hidden;
}

.code-expand-btn.expand-done + pre,
.code-expand-btn.expand-done + * pre,
.code-expand-btn.expand-done + div.codeblock,
.code-expand-btn.expand-done + * div.codeblock {
  margin-bottom: 1.8em;
}

/* 全屏模式样式 */
figure.shiki.code-fullpage {
  background: var(--hl-bg);
  color: var(--hl-color);
}

/* 退出全屏按钮 */
.exit-fullpage-button {
  position: fixed;
  top: 50px;
  right: 50px;

  z-index: 10000;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 30%;
  display: flex;

  align-items: center;
  justify-content: center;

  transition: background 0.3s;
}

.exit-fullpage-button:hover {
  background: rgba(0, 0, 0, 0.8);
  background: #49b1f5;
}

.exit-fullpage-button i {
  font-size: 16px;
}
